
.open-sans-normalfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* comon share part  */
*{
    margin: 0;
    padding: 0;
}

.text_promari{
    color: #FD6E0A;
}
.dark_2{
    color: #474747;
}
.btn_primari{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 20px 35px;
    border: none;
}
.secoundary_bg{
    background-color: #fff8f3;
}

.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_discription{
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
    padding: 0 40px;
    
}

.text_aling{
    text-align: center;
}


/* baground img  */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

/* nav part  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li{
    list-style: none;
}
nav li a{
   text-decoration: none;
}

/* banner part  */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner_container{
    max-width: 580px;
}
.banner_greeting{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
.banner_title{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
}
.banner_discription{
    font-size: 18px;
    color: #474747;
    margin-bottom: 30px;
}
.banner_profile_pic{
    width: 580px;
}

/* about section */
main {
     max-width: 1140px;
    margin: 132px auto;
    
}
main section{
    margin-top: 132px;
    
}
.about{   
    text-align: center;
    padding: 150px 120px;

}
.section_item{
    display: flex;
    justify-content: space-around;
}

/* section skills */

.skill_container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill .skile_title{
    padding:105px 30px 30px;
}
.skill_discription{
    line-height: 30px;
    margin-top: 20px;
}